body {
    width: 100%;
    margin: 0;
    background-color: #ffecf5;
    font-family: YakuHanJP, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Hiragino Kaku Gothic Pro', 'Yu Gothic', Meiryo, "Helvetica Neue", Arial, sans-serif;

}


.At_A_Glance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.At_A_Glance_Contents {
    position: absolute;
    width: 100vh;
    left: 0;
    right: 0;
    margin: auto;
}

.At_A_Glance_Title {
    z-index: 100;
    position: relative;
    color: white;
    font-family: ab-kirigirisu, sans-serif;
    font-size: 48px;
    letter-spacing: -0.1em;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.At_A_Glance_Title h1 {
    text-align: left;
}

.At_A_Glance_Tiles {
    z-index: 100;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 145px);
    grid-auto-rows: 145px;
    column-gap: 28px;
    row-gap: 28px;
}


/*タイル・中身アリ*/
.Tile1 {
    background: #F7F6F5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    padding: 0 0 0 12px;
}

/*タイル・中身ナシ*/
.Tile2, .Tile3, .Tile4, .Tile5, .Tile6, .Tile7 {
    background: rgba(247, 246, 245, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 15px;

    font-family: ab-kirigirisu, sans-serif;
    font-weight: normal;
    letter-spacing: -0.1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*h1のマージン指定*/
.Tile1_Title h1, .Tile2_Title h1, .Tile3_Title h1, .Tile4_Title h1, .Tile5_Title h1, .Tile6_Title h1, .Tile7_Title h1 {
    margin: 39px 0 0 0;
    font-size: 36px;
}

/*h2のボールド外し*/
.Tile1_Title h2, .Tile2_Title h2, .Tile3_Title h2, .Tile4_Title h2, .Tile5_Title h2, .Tile6_Title h2, .Tile7_Title h2 {
    font-weight: normal;
    margin: 0;
    font-size: 18px;
}

.Tile1 {
    z-index: 100;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Tile2 {
    z-index: 100;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Tile3 {
    z-index: 100;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.Tile4 {
    z-index: 100;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}


.Tile5 {
    z-index: 100;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

.Tile6 {
    z-index: 100;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}

.Tile_Twitter_Logo {
    padding: 22.5px;
}

.Tile7 {
    z-index: 100;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

.Tile_YouTube_Logo {
    padding: 12.5px;
}

.At_A_Glance_Background {
    z-index: 0;
    position: relative;
    width: 100%;
    height: min(85.648vh, calc(100vh - 155px));
    background: url(/Mates/Pics/file_2f65263f-acc1-4b90-91dc-0e435bfe1da1_blob.png);
    background-size: cover;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
    border-radius: 0 0 30px 30px;
}

.Menu_Bar {
    height: max(14.352vh, 155px);
    margin: 0 36px;
    font-family: inherit;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Menu_Bar h1 {
    font-family: ab-kirigirisu, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    letter-spacing: -0.1em;
    color: #660000;
    margin: 0;
}

.Menu_Bar h2 {
    font-family: fot-chiaro-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    color: #660000;
    margin: 0;
}


/*PlayGround*/