body {
    width: 100%;
    margin: 0;
    background-color: #ffecf5;
    font-family: YakuHanJP, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Hiragino Kaku Gothic Pro', 'Yu Gothic', Meiryo, "Helvetica Neue", Arial, sans-serif;
}

.At_A_Glance_Contents {
    position: absolute;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.At_A_Glance_Title {
    z-index: 100;
    position: relative;
    color: white;
    font-family: ab-kirigirisu, sans-serif;
    font-size: 48px;
    letter-spacing: -0.1em;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 27px;
}

.At_A_Glance_Tiles {
    z-index: 100;
    position: relative;
    display: grid;
    /* grid-template-columns: repeat(6, 145px); */
    grid-auto-rows: 145px;
    column-gap: 28px;
    row-gap: 28px;
}


/*タイル・中身アリ*/

.Tile1 {
    background: #F7F6F5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0 0 0 12px;
}


/*タイル・中身ナシ*/

.Tile2,
.Tile3,
.Tile4,
.Tile5,
.Tile6,
.Tile7 {
    background: rgba(247, 246, 245, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    font-family: ab-kirigirisu, sans-serif;
    font-weight: normal;
    letter-spacing: -0.1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*h1のマージン指定*/

.Tile1_Title h1,
.Tile2_Title h1,
.Tile3_Title h1,
.Tile4_Title h1,
.Tile5_Title h1,
.Tile6_Title h1,
.Tile7_Title h1,
.Tile2-1_Name h1,
.Tile2-2_Name h1,
.Tile2-3_Name h1,
.Tile2-4_Name h1,
.Tile2-5_Name h1,
.Tile2-6_Name h1,
.Tile2-7_Name h1 {
    margin: 39px 0 0 0;
    font-size: 36px;
}


/*h2のボールド外し*/

.Tile1_Title h2,
.Tile2_Title h2,
.Tile3_Title h2,
.Tile4_Title h2,
.Tile5_Title h2,
.Tile6_Title h2,
.Tile7_Title h2,
.Tile2-1_Name h2,
.Tile2-2_Name h2,
.Tile2-3_Name h2,
.Tile2-4_Name h2,
.Tile2-5_Name h2,
.Tile2-6_Name h2,
.Tile2-7_Name h2 {
    font-weight: normal;
    margin: 0;
    font-size: 18px;
}

.Tile1 {
    z-index: 100;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Tile2 {
    z-index: 100;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Tile3 {
    z-index: 100;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.Tile4 {
    z-index: 100;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.Tile5 {
    z-index: 100;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

.Tile6 {
    z-index: 100;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}

.Tile_Twitter_Logo {
    padding: 22.5px;
}

.Tile7 {
    z-index: 100;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

.Tile_YouTube_Logo {
    padding: 12.5px;
}

.At_A_Glance_Arrow-Up {
    z-index: 100;
    position: relative;
    width: 68px;
}

.At_A_Glance_Arrow-Up_svg {
    display: inline-block;
}

/* .At_A_Glance_Background {
    z-index: 0;
    position: relative;
    width: 100%;
    height: min(85.648vh, calc(100vh - 155px));
    background: url(/Mates/Pics/file_2f65263f-acc1-4b90-91dc-0e435bfe1da1_blob.png);
    background-size: cover;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
    border-radius: 0 0 30px 30px;
} */

.Menu_Bar {
    height: max(14.352vh, 155px);
    margin: 0 36px;
    font-family: inherit;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Menu_Bar h1,
.Members_Title {
    font-family: ab-kirigirisu, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    letter-spacing: -0.1em;
    color: #660000;
    margin: 0;
}

.Menu_Bar_Buttons {
    display: flex;
}

.Button_Members,
.Button_Activities {
    color: #660000;
    background: rgba(247, 246, 245, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    padding: 0 50px;
    margin: 0 25px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Button_Members p,
.Button_Activities p {
    font-family: ab-kirigirisu, sans-serif;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: -0.2em;
    text-align: center;
}

.Members_Contents {
    position: absolute;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Members_Title {
    margin-top: 100px;
    margin-bottom: 27px;
}

.Members_Tiles {
    display: grid;
    grid-template-columns: repeat(6, 145px);
    grid-auto-rows: 145px;
    column-gap: 28px;
    row-gap: 28px;
}
/*
.Tile2-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Tile2-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Tile2-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Tile2-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.Tile2-5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.Tile2-6 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.Tile2-7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}
*/

.Members_Tiles > div{
    background: #F7F6F5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0 0 0 12px;
}

.Tile2-1,
.Tile2-2,
.Tile2-3,
.Tile2-4,
.Tile2-5,
.Tile2-6,
.Tile2-7 {

}


/*PlayGround*/



/*追記*/

h1.At_A_Glance_Title {
    text-align: left;
}
.At_A_Glance_Contents >div.At_A_Glance_Tiles {
    z-index: 100;
    position: relative;
    display: grid;
    grid-auto-rows: 145px;
    column-gap: 28px;
    row-gap: 28px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.At_A_Glance_Background {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(https://raw.githubusercontent.com/MoomA-0750/TakePota2BIdol/main/WebPages/TakePota2BTheIdol/Mates/Pics/file_2f65263f-acc1-4b90-91dc-0e435bfe1da1_blob.png?token=AW2QKNWCD5G3UY5ZNAFYWKTBWDGFA);
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
    border-radius: 0 0 30px 30px;
    background-position-x: 95%;
}
.Menu_Bar {
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
}
.Menu_Bar_Title {
    max-width: 1280px;
}

.Menu_Bar > div {
    margin: 3rem auto 0;
}

.At_A_Glance {
    display: flex;
    justify-content: center;
}
.At_A_Glance_Contents {
    width: 95%;
    max-width: 1200px;
    align-items: inherit;
}
.At_A_Glance_Arrow-Up {
    margin: auto;
}


.Members {
    display: flex;
    justify-content: center;
}

.Members_Contents {
    max-width: 1080px;
    width: 95%;
}
.Members_Tiles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 0.8em;
    grid-auto-rows: 280px;
}

.Members_Tiles > div {
    overflow: auto;
    min-width: 0;
    padding: 1em;
}

.Button_Members p, .Button_Activities p {
    min-width: 4em;
}
